// {
//   "presets": [
//     [
//       "@babel/preset-react"
//     ]
//   ],
//     "plugins": [
//         "styled-jsx/babel"
//     ]
// }


{
  "presets": ["next/babel"],
  "plugins": []
}

// {
//   "presets": ["next/babel"],
//   "plugins": []
// }